.homeBalance{
    width: calc(100%  - 20px);
    margin: auto;
    background-color: #092e67;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.homeBalance .balanceSection h5{
color: white;
font-weight: 500;
} 

.homeBalance .rechargebtnSection{
    display: flex;
    gap: 20px;
}